.fallback-message {
  font-family: sans-serif;
  line-height: 1.3;

  width: 780px;
  padding: 10px 10px 0;
  margin: 20px auto;

  border: 1px solid #e4c652;
  border-radius: 10px;
  background: #eedc94;

  p {
    margin-bottom: 10px;
  }
}

.impress-supported .fallback-message {
  display: none;
}
