@import 'fonts';

body {
  margin: 0;
  padding: 0;
}

// Nice code blocks
pre {
  font-weight: 700;
}

// To hide warning if browser is supported
@import 'impress-fallback';

// General body and step styles
@import 'impress-global';

#intro-aux {
  font-family: $font-stack-brand-uni;
  transition: opacity .5s;
  opacity: 0;
  font-size: 2.5vh;
  color: gray(50);
  line-height: 1;

  > * {
    position: absolute;
    width: 100%;
    text-align: center;
  }
  header {
    margin-top: 2em;
  }
  footer {
    margin-bottom: 1em;
    bottom: 0;
  }
  h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 0;
    font-weight: normal;
  }
  q {
    font-size: .8em;
    font-style: italic;
    quotes: none;
  }
  footer :first-child {
    font-size: 1.2em;
    margin-bottom: .5em;
  }
}

.impress-on-title #intro-aux {
  opacity: 1;
}

// Hide optresults in title
.impress-on-title #optresults {
  opacity: 0;
}
.impress-on-title .step {
  opacity: .1;
}

#title {
  padding: 0;
  text-align: center;
  top: -70px;
  position: absolute;

  h1 {
    font-family: $font-stack-sans;
    font-size: 70px;
    line-height: 1em;
    color: black;

    span {
      font-family: $font-stack-serif;
      font-variant: small-caps;
      letter-spacing: 1px;
      display: block;
      font-size: 30px;
    }
  }
}

// Content-specific styles
@import '../content/1-morphology';
@import '../content/2-impl';
@import '../content/3-planning';
@import '../content/4-kernspec';
@import '../content/5-simd';
@import '../content/6-optimization';
@import '../content/7-results';
@import '../content/8-cuda';


// Code blocks title in "more" frames
#more-content-overlay h4 {
  margin-bottom: 0;
}

#last-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  pointer-events: none;

  transition: opacity 1s;

}

.impress-on-outro #last-slide {
  opacity: 1;
  transition-delay: 2s;
  pointer-events: all;
}

.impress-progressbar {transition: opacity 1s}
.impress-on-outro .impress-progressbar {opacity: 0}

#last-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  text-align: center;
  margin: 20vh auto 0;

  color: #eee;
  font-family: $font-stack-sans;
  h1 {
    color: deepskyblue;
  }
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
    margin-bottom: 20px;
  }
  z-index: 1000;
}

asciinema-player {
  width: 100%;
  height: 100%;
  display: block;
}

.asciinema-player-wrapper,
.asciinema-player,
.asciinema-terminal {
  width: 100% !important;
  height: 100% !important;
}

asciinema-player .play-button {
  display: none !important;
}
