@import 'fonts';

body {
  margin: 0;
  padding: 0;
}

// Nice code blocks
pre {
  font-weight: 700;
}

// To hide warning if browser is supported
@import 'impress-fallback';

// General body and step styles
@import 'impress-global';

// Content-specific styles
@import '../content/1-morphology';
@import '../content/2-impl';
@import '../content/3-planning';
@import '../content/4-kernspec';
@import '../content/5-simd';
@import '../content/6-optimization';
@import '../content/7-results';
@import '../content/8-cuda';


// Code blocks title in "more" frames
#more-content-overlay h4 {
  margin-bottom: 0;
}
