#base-ops {
  padding-top: 16px;
}

#op-dilate, #op-erode {
  background-color: #f4f4f4;
  margin: 26px -60px 0;
  padding: 16px 60px;

  > div { width: 50%; }
  > img { width: 45%; }
}

#op-dilate {
  > div { float: left; }
  > img { float: right; }
}

#op-erode {
  > div { float: right; }
  > img { float: left; }
}


#op-dilate:after, #op-erode:after {
  content: '';
  display: block;
  clear: both;
}

#skeleton {
  h1 {
    margin-top: -10px;
    text-align: center;
  }
  p{
    margin-top: 40px;
    margin-bottom: 40px;
  }
  img{
    opacity: 0.2;
    margin-top: 20px;
    transition: opacity 1s;
  }
}

.impress-on-skeleton #skeleton img {
  opacity: 1;
}

// Hide serial step while navigating to skeleton
.impress-on-base-ops2, .impress-on-skeleton {
  #serial, #openmp {
    opacity: 0;
  }
}
