.impress-on-serial #openmp {
  opacity:0;
}
#serial {
  li {
    font-size: 150%;
  }
}
#openmp pre {
  font-size: 110%;
  color: #dddddd  ;
  background-color: rgba(5,10,5, 0.8);
  border-radius: 20px;
  padding:20px;
  .not-code {
    font-family: $font-stack-serif;
  }
}



