#kern2 p:nth-of-type(2) {
  text-align: right;
  margin: 70px 0;
}

#kern2 blockquote {
  margin: 0;
  background-color: rgba(0,0,0,0.1) ;
  border-radius: 30px ;
  padding: 5px;
  text-align: center;
  font-family: $font-stack-sans;
  font-style: italic;
}

#custresults img {
  width: 100%;
  margin-bottom: 20px;
}

#custresults {
  h2 {
    text-align: center;
  }
  .yellow {
    color:#cc8000;
  }
}

// Hide optresults while in kern steps
.impress-on-kern1, .impress-on-kern2, .impress-on-custresults {
  #optresults { opacity: .05; }
}
.impress-on-custresults {
  #compilers, #cuda1 { opacity: .05; }
}
