#simd li {
  margin: 20px 0;
}

#intrin p {
  margin-bottom:40px;
}
#intrin li {
  margin: 15px 0;
}

// Hide results while on simd
.impress-on-simd {
  #results { opacity: 0; }
}
.impress-on-intrin {
  #results, #results2 { opacity: 0; }
}
