#simd li {
  margin: 20px 0;

  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 1s, transform 1s;
}

#simd.present, #simd.prev {
  li {
    opacity: 1;
    transform: none;
  }

  li:nth-of-type(2) { transition-delay: .2s }
  li:nth-of-type(3) { transition-delay: .4s }
}

#intrin {
  p:nth-of-type(2) {margin: 40px 0 16px}
  ul {margin: 0}
  li {margin-bottom: 12px}
}

// Hide results while on simd
.impress-on-simd {
  #results { opacity: 0; }
}
.impress-on-intrin {
  #results, #results2 { opacity: 0; }
}
