<div id="opt" class="step" data-x="4400" data-z="-5000" data-scale="4" data-rotate-z="180">
    My very long placeholder that can be seen from the slides on the right
</div>

<!-- Beware, optX position is completely CSS defined -->

<div id="opt1" class="step" data-x="1000" data-z="-5000" data-scale="4" data-rotate-z="180">
    Placeholder 1
</div>

<div id="opt3" class="step" data-scale="4" data-rotate-z="180">
    Placeholder 3
</div>

<div id="opt4" class="step" data-scale="4" data-rotate-z="180">
    Placeholder 4
</div>

<div id="opt2" class="step" data-scale="4" data-rotate-z="180">
    Placeholder 2
</div>

<div id="optresults" class="step" data-x="1000" data-z="-3000" data-scale="4" data-rotate-z="130" data-rotate-x="20" data-rotate-y="-30">
    Placeholder
</div>
