<div id="results" class="step" data-x="2000" data-y="1000" data-z="3000" data-scale="4" data-rotate-z="20">
    Placeholder
</div>

<div id="results2" class="step" data-x="3200" data-y="500" data-z="4500" data-scale="4" data-rotate-z="-20">
    Placeholder
</div>

<div id="compilers" class="step" data-x="0" data-y="3000" data-z="0" data-rotate-z="90">
    Placeholder
</div>
