#results, #results2, #compilers {
  img { width: 100%; }
}

.impress-on-results {
  #results2 { opacity: 0; }
}

.impress-on-results, .impress-on-results2 {
  #simd { opacity: 0; }
}

.impress-on-compilers {
  #custresults { opacity: 0; }
  #optresults { opacity: 0.1; }
}
