$color-nv: #76b900;

#cuda3 svg {
  width: 100%;
  transform: scale(1.4);
  text, line {
    fill:white !important;
  }
}

body::before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';

  background: gray(15);
  background: radial-gradient(gray(20) 0, gray(15) 65%, gray(5) 100%);
  z-index: -100;

  opacity: 0;
  transition: opacity 1s;
}

.impress-on-cuda1,
.impress-on-cuda2,
.impress-on-cuda3 {
  &::before {
    opacity: 1;
  }
  #show-more-btn {
    background-color: rgba(255, 255, 255, .12);
    color: gray(70);
    &:hover {
      background-color: rgba(255, 255, 255, .16);
    }
  }

  div#impress-toolbar #impress-navigation-ui-select {
    background-color: rgba(255, 255, 255, .3);
    color: white;
    > * {
      color: black;
    }
  }

  .impress-progressbar > div {
    background-color: rgba(255, 177, 0, 0.7);
  }
}

#cuda1, #cuda2, #cuda3 {
  color: gray(80);
  font-family: $font-stack-sans;
  h1 {
    margin-bottom: 30px;
    color: $color-nv;
    font-family: $font-stack-brand-nv;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
#cuda1 h1 {
  text-align: center;
}
#cuda2 {
  strong, em {
    color: $color-nv;
  }
  li {
    margin: 10px 0;
  }
}
#cuda3 h1 {
  margin-bottom: 60px;
}

// Hide custresults while on cuda1
.impress-on-cuda1, .impress-on-cuda2 {
  #custresults { opacity: 0; }
  #optresults { opacity: 0; }
}

#cuda1 {
  width: 1100px;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  h1 {
    transform: translateY(60px);
  }
  li {
    display: block;
    width: 100%;

    background-color: rgba(#181818, .9);
    text-align: center;
    margin: 0 13px;
    padding: 12px 10px 18px;
    font-size: 90%;

    transform: translateY(-20px);
    opacity: 0;
  }
  h3, p {
    margin: 0;
  }
  h3 {
    color: #ddd;
    margin-bottom: 10px;
  }
  p {
    color: #bbb;
  }

  h1, li {
    transition: opacity 1s, transform 1s;
  }
}

#cuda1.present, #cuda1.prev {
  h1, li {
    transform: none;
    opacity: 1;
  }
  h1 {transition-delay: .7s}
  li {transition-delay: 1.3s}
  li:nth-of-type(2) {transition-delay: 1s}
}
