<div id="cuda1" class="step" data-x="1000" data-y="3000" data-z="0" data-rotate-z="90">
    cuda1
</div>

<div id="cuda2" class="step" data-x="2000" data-y="3500" data-z="0" data-rotate-z="120">
    cuda2
</div>

<div id="cuda3" class="step" data-x="3000" data-y="4000" data-z="0" data-rotate-z="150">
    <h1>NVIDIA CUDA</h1>
    <%= require("!!ejs-loader!"+REPORT_IMAGES_DIR+"bench_cuda.svg")() %>
</div>
